<body>
<div>
  <div class="table-title">FEUILLE DE TEMPS {{ currentYear }} </div>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        
        <th>Timesheet</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let month of months">
        <td>{{ month.date }}</td>
        
        <td>
          <button *ngIf="month.showButton"
                  [ngClass]="getButtonClass(month.statut)"
                  (click)="goToTimesheet(month.date)">
                  <i class="fa fa-clock"></i> 
          </button>
          <!-- <button *ngIf="month.showButton"
          [ngClass]="getButtonClass(month.statut)"
          (click)="goToTimesheet(month.date)">
    <i class="fa fa-clock"></i>
  </button> -->
        </td>
      </tr>
    </tbody>
  </table>
</div>
</body>